align_title_left.Rd
align_title_right.Rd
colour_plot.Rd
darken_gradient.Rd
darken_palette.Rd
darken_swatch.Rd
define_palette.Rd
define_swatch.Rd
get_themr.Rd
ggthemr.Rd
ggthemr_current.Rd
ggthemr_reset.Rd
is_colour.Rd
is_ggthemr.Rd
legend_position.Rd
lighten_gradient.Rd
lighten_palette.Rd
lighten_swatch.Rd
move_legend.Rd
no_axes.Rd
no_axes_titles.Rd
no_gridlines.Rd
no_legend.Rd
no_legend_title.Rd
no_major_gridlines.Rd
no_major_x_gridlines.Rd
no_major_y_gridlines.Rd
no_minor_gridlines.Rd
no_minor_x_gridlines.Rd
no_minor_y_gridlines.Rd
no_ticks.Rd
no_title.Rd
no_x_axis.Rd
no_x_gridlines.Rd
no_x_line.Rd
no_x_text.Rd
no_x_ticks.Rd
no_x_title.Rd
no_y_axis.Rd
no_y_gridlines.Rd
no_y_line.Rd
no_y_text.Rd
no_y_ticks.Rd
no_y_title.Rd
plot.ggthemr.Rd
plot.ggthemr_palette.Rd
plot.ggthemr_swatch.Rd
random_swatch_colour.Rd
reverse_gradient.Rd
rotate_axes_text.Rd
rotate_x_text.Rd
rotate_y_text.Rd
set_swatch.Rd
set_themr.Rd
shuffle_swatch.Rd
swatch.Rd
