align_title.R
colour_contrast.R
colour_plot.R
define_layout.R
define_palette.R
define_swatch.R
discrete_colours.R
display_list.R
env.R
get_gradient.R
get_theme.R
ggthemr-package.R
ggthemr.R
ggthemr_current.R
ggthemr_reset.R
is_colour.R
is_ggthemr.R
layouts.R
load_layout.R
load_palette.R
move_legend.R
no_axes.R
no_gridlines.R
no_legend.R
no_legend_title.R
no_title.R
palettes.R
plot.R
plot_colours.R
random_swatch_colour.R
rethemr.R
reverse_gradient.R
rotate_labels.R
set_swatch.R
shuffle_swatch.R
swatch.R
theme_scales.R
validate_colours.R
verify_ggthemr.R
